<section class="container confirmation-page-container mb-5">
    <header class="d-flex justify-content-between mt-5 page-header">
        <h1>Payment Successful!</h1>
    </header>
    <article class="d-flex flex-column align-items-center mt-5 page-body">
        <h2>Sit back and relax! Your order is on the way!</h2>
        <img class="shopping-bag mt-4" src="/assets/images/shopping-bag.jpg" alt="image of shopping bag">
        <div class="d-flex  mt-4">
            <a routerLink="/shop" class="btn-nav btn-nav-primary">Continue Shopping</a>
            <a routerLink="/" class="btn-nav btn-nav-outline ml-4">Visit Home</a>
        </div>

    </article>
</section>