.shopping-page-container {
  margin-top: 48px;
  margin-bottom: 48px;
}
.search-bar {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.search-bar input,
.search-bar button {
  border: 1px solid var(--green-400);
}

.search-bar button {
  background-color: var(--white);
  color: var(--green-400);
}
.search-bar button:hover {
  background-color: var(--green-400);
  color: var(--white);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 64px;
}

.product {
  width: calc((100% / 4) - (80px / 4));
  border: 1px solid var(--green-400);
}

.product .card-img-top {
  padding: 16px 20px 0;
}

@media (max-width: 768px) {
  .product-list {
    flex-direction: column;
  }
  .product {
    width: 100%;
  }
}

.product .btn-nav-primary {
  width: 100%;
  margin-top: 20px;
}
