<section class="add-products container">
  <h1>
    Add Products
  </h1>
  <form class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="product.name" name="name" />
      </div>

      <div class="form-group">
        <label for="published">Image URL</label>
        <input class="form-control" id="image" required [(ngModel)]="product.image" name="image" />
      </div>

      <div class="mt-2 image-container">
        <img src="{{product.image}}" class="card-img-top" alt="{{product.name}}" height="250"
          style="object-fit: contain;" *ngIf="product.image" />
        <img src="https://placehold.co/400?text=Grocery" class="card-img-top" alt="This is a placeholder image"
          height="250" style="object-fit: contain;" *ngIf="!product.image" />

      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" id="description" required [(ngModel)]="product.description" name="description" />
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input class="form-control" id="price" required [(ngModel)]="product.price" name="price" />
      </div>
      <div class="form-group">
        <label for="published">Quantity</label>
        <input class="form-control" id="qty" required [(ngModel)]="product.qty" name="qty" />
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" [(ngModel)]="product.category" name="category">
          <option *ngFor="let category of categories" [value]="category.name">
            {{ category.name }}
          </option>
        </select>



      </div>

      <button (click)="saveProduct()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Product was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newProduct()">Add</button>
    </div>
  </form>
</section>