<section class="container dashboard">
    <article class="hero">
        <h1>Hey {{user?.userName}}!</h1>
        <p>Welcome to Furniture Store, where furniture shopping is made easy! Don’t miss out on the
            fabulous finds,
            chosen just for you.
        </p>
        <div class="d-flex  mt-4">
            <a routerLink="/shop" class="btn-nav btn-nav-primary">Start Shopping</a>
            <a routerLink="/cart" class="btn-nav btn-nav-outline ml-4">Visit Cart</a>
        </div>
    </article>
    <article class="orders mt-5">
        <h2>Your Orders</h2>
        <div class="table-responsive mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Order id</th>
                        <th scope="col">Order Status</th>
                        <th scope="col">Delivery Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
                        <th scope="row">{{order.id}}</th>
                        <td>{{order.order_status}}</td>
                        <td>{{order.order_delivery_address}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
</section>