<header class="main-header">
    <div class="container header-container">
        <!-- <a routerLink=""><img src="/assets/logo.png" alt="" width="52" height="52"></a> -->

        <a routerLink=""><img src="/assets/logo.jpeg" alt="" width="52" height="52"></a>
        <nav class="main-nav">
            <a routerLink="shop" routerLinkActive="active" class="main-nav-link">Shop</a>
            <a routerLink="add" routerLinkActive="active" class="main-nav-link">Add</a>
            <a class="btn-nav btn-nav-primary disabled">Signup</a>
        </nav>
    </div>
</header>